<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>PostServlet</servlet-name>
    <servlet-class>ru.job4j.dream.servlet.PostServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>ru.job4j.dream.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CandidateServlet</servlet-name>
    <servlet-class>ru.job4j.dream.servlet.CandidateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>ru.job4j.servlets.UploadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>ru.job4j.servlets.DownloadServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteCandidate</servlet-name>
    <servlet-class>ru.job4j.dream.servlet.DeleteCandidate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AuthServlet</servlet-name>
    <servlet-class>ru.job4j.dream.servlet.AuthServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>ru.job4j.dream.servlet.RegServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GreetingServlet</servlet-name>
    <servlet-class>ru.job4j.dream.servlet.GreetingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CityServlet</servlet-name>
    <servlet-class>ru.job4j.dream.servlet.CityServlet</servlet-class>
  </servlet>

  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>ru.job4j.dream.filter.AuthFilter</filter-class>
  </filter>
     <filter>
     <filter-name>CorsFilter</filter-name>
     <filter-class>ru.job4j.dream.filter.CorsFilter</filter-class>
         <init-param>
             <param-name>cors.allowed.origins</param-name>
             <param-value>*</param-value>
         </init-param>
         <init-param>
             <param-name>cors.allowed.methods</param-name>
             <param-value>GET,POST,HEAD,OPTIONS,PUT</param-value>
         </init-param>
         <init-param>
             <param-name>cors.allowed.headers</param-name>
             <param-value>Content-Type,X-Requested-With,accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers</param-value>
         </init-param>
         <init-param>
             <param-name>cors.exposed.headers</param-name>
             <param-value>Access-Control-Allow-Origin,Access-Control-Allow-Credentials</param-value>
         </init-param>
         <init-param>
             <param-name>cors.support.credentials</param-name>
             <param-value>true</param-value>
         </init-param>
         <init-param>
             <param-name>cors.preflight.maxage</param-name>
             <param-value>10</param-value>
         </init-param>
   </filter>

    <servlet-mapping>
      <servlet-name>IndexServlet</servlet-name>
      <url-pattern>/index.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>PostServlet</servlet-name>
      <url-pattern>/posts.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>CandidateServlet</servlet-name>
      <url-pattern>/candidates.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>UploadServlet</servlet-name>
      <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>DownloadServlet</servlet-name>
      <url-pattern>/download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>DeleteCandidate</servlet-name>
      <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>AuthServlet</servlet-name>
      <url-pattern>/auth.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>RegServlet</servlet-name>
      <url-pattern>/reg.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>GreetingServlet</servlet-name>
      <url-pattern>/greet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>CityServlet</servlet-name>
      <url-pattern>/city.do</url-pattern>
    </servlet-mapping>
      <filter-mapping>
      <filter-name>AuthFilter</filter-name>
      <url-pattern>*.do</url-pattern>
    </filter-mapping>
     <filter-mapping>
     <filter-name>CorsFilter</filter-name>
     <url-pattern>/*</url-pattern>
   </filter-mapping>

   </web-app>
